@import '_reset.scss';
@import '_variables';
@import '_mixins.scss';
@import '_keyframes.scss';

* {
	font-family: $headerFont;
	color: $textColor;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: $backgroundColor;
	line-height: 1.2;
}

header {
@include flexbox(row, nowrap, normal, space-between, center);
padding: 20px;
background-color: $backgroundColor;
}

h1 {
  font-family: $headerFont;
	font-size: 2em;
	color: $textColor;
}

h2 {
  font-family: $headerFont;
  color: $textColor;
}

.navBar {
  display: flex;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.loginHere {
  @include flexbox(column, nowrap, normal, normal, center);
	background-image: url('../images/background-image2.png');
	background-repeat: no-repeat;
	background-size: cover;
  width: 100vw;
  
}

.login-screen {
  @include flexbox(column, nowrap, normal, normal, center);
  background-color: $backgroundColor;
  color: $textColor;
  padding: 40px;
  margin: 250px;
  @include heightWidth(150px, 400px);
}

.logoutButton {
  background-color: $textColor;
  color: $backgroundColor;
  &:hover {
    transform: scale(1.1);
  }
}

.loginButton {
  background-color: $cardColor;
  color: $textColor;
  &:hover {
    transform: scale(1.1);
  }
}

.navBtn,
.bookingBtn {
  background-color: $backgroundColor;
  color: $textColor;
  border: none;
  @include button();
}

.userName,
.password, 
.calenderInput,
.checkInButton,
.drop-down-font {
  color:$textColor;
  &:hover {
    transform: scale(1.1);
  }
}

.showAllBookings{
  @include flexbox(column, nowrap, normal, normal, center)
}

.all-bookings,
.all-available-title {
  text-align: center;
  margin-top: 18px;
  font-size: 22px;
}

.booking-cards, 
.available-bookings {
  @include flexbox(row, wrap, center, space-around, normal);
  gap: 2em;
  grid-template-columns: 25% 25% 25% 25%;
	padding: 5% 10%;
}

.hero {
  @include flexbox(column, nowrap, normal, normal, center);
  background-image: url('../images/background-image2.png');
  background-color: rgba(242,242,242,.25);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 400px; 
  @include heightWidth(400px, 100vw);
}

.card {
  border-radius: $borderRadius;
	font-size: 1em;
  color: $cardFontColor;
  background-color: $cardColor;
  box-shadow: $boxShadow;
  padding: 2%;
  @include flexbox(column, nowrap, normal, space-evenly, space-around);
  width: 240px;
  line-height: 18px;
}

.cardFont {
  color: $cardFontColor;
}

.bookingBtn {
  align-items: center;
  margin-top: 7px;
  margin-left: 40px;
  margin-right: 40px;
  &:hover {
    transform: scale(1.1);
  }
}

.user-message {
  text-align: center;
  color: $textColor;
}

.user-message2 {
  border-radius: $borderRadius;
	font-size: 1em;
  padding: 25px;
  text-align: center;
  background-color: $backgroundColor;
  margin: 15px;
  color: $textColor;
  box-shadow: $boxShadow;
  padding: 1%;
}

.calendar {
  border-radius: $borderRadius;
	font-size: 1em;
  margin: 15px;
  background-color: $backgroundColor;
  padding: 13px;
  color: $textColor;
}

.roomFilterDropDown {
  border-radius: $borderRadius;
	font-size: 1em;
  text-align: center;
  background-color: $backgroundColor;
  padding: 25px;
  margin: 15px;
}

.goHomeContainer {
  display: flex;
  justify-content: space-around;
  
}

.goHome {
  background-color: $cardColor;
  color: $textColor;
  margin-bottom: 15px;
  @include button();
  &:hover {
      transform: scale(1.1);
    }
}

label {
  display: block;
  font: 1rem 'Oxygen', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.hidden {
  display: none;
}