/* This is an example of how to import a partial scss file*/
@import '_reset.scss';
@import '_variables';
@import '_mixins.scss';


* {
	// font-family: $bodyFont;
	// color: $offWhite;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: $backgroundColor;
	line-height: 1.2;
}

header {
display: flex;
justify-content: space-between;
padding: 20px;
background-color: $backgroundColor;
align-items: center;
}

h1 {
  font-family: $headerFont;
	font-size: 2em;
	color: $offWhite;
}

h2 {
  font-family: $headerFont;
  color: $offWhite;
}


.navBtn,
.bookingBtn {
  background-color: $backgroundColor;
  color: $offWhite;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.loginHere {
  display: flex;
  flex-direction: column;
  align-items: center;
	background-image: url('../images/background-image2.png');
	background-repeat: no-repeat;
	background-size: cover;
  width: 100vw;
  
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundColor;
  color: $offWhite;
  padding: 40px;
  margin: 250px;
  height: 150px;
  width: 400px;
}

.navBtn,
.bookingBtn:hover {
  opacity: 1
}

.all-bookings {
  text-align: center;
  margin-top: 18px;
}
.booking-cards, 
.available-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  grid-template-columns: 25% 25% 25% 25%;
	padding: 5% 10%;
}

.card {
  border-radius: 0.5em;
	font-size: 1em;
  background-color: $cardColor;
  box-shadow: $boxShadow;
  padding: 1%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
	background-image: url('../images/background-image2.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
  height: 350px;
}

.user-message {
  padding: 25px;
  text-align: center;
  background-color: $backgroundColor;
  margin: 30px;
  color: $offWhite;
}

.calendar {
  margin: 15px;
  background-color: $backgroundColor;
  padding: 13px;
  color: $offWhite;
}
.roomFilterDropDown {
  background-color: $backgroundColor;
  padding: 25px;
}



label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.hidden {
  display: none;
}